*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 40px;
}

/* grid-container : contains all the grid items 
grid-item : common styles for all grid-items
grid-item styling by type :
    grid-item-content
    grid-item-sidebar
    grid-item-footer

flexbox-container-sidebar : flexbox container for sidebar items
flexbox-container-footer : flexbox container for footer items
flexbox-item : commone to all flexbox items
flex-sidebar-item : specific to sidebar items
flex-footer-item : specific to footer items */

/* Flexbox */

.flexbox-container-sidebar {
  display: flex;
  position: relative;
  background-color: yellow;
  flex-direction: column;
}

.flex-sidebar-item {
  display: flex;
  position: relative;
  background-color: yellow;
  flex-direction: row;
  min-height: 100px;
}

.flexbox-container-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: yellow;
}

.flex-footer-item {
  display: flex;
  position: relative;
  background-color: yellow;
  min-height: 100px;
}

/* interesting : placing this class at the top gets the background-color overwritten */
/* flexbox-item  the box*/
.flexbox-item {
  position: relative;
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

/* flexbox-item text & text positioning */
.flexbox-item::before {
  content: 'Flexbox Item';
  position: absolute;
  color: black;
  font-size: 25px;
  top: 10px;
  left: 15px;
}

/* Grid */

.grid-item-content {
  grid-area: grid-item-content;
  /* style individual grid item */
  justify-self: center;
  /* style individual grid item */
  align-self: center;
}

.grid-item-sidebar {
  grid-area: grid-item-sidebar;
}

.grid-item-footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'grid-item-content grid-item-content grid-item-sidebar '
    'footer  footer  footer';
  background-color: rgb(226, 167, 17);
  color: #444;
}

.grid-item {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.grid-item-footer {
  background-color: #999;
}
